<div class="container mt-5">
  <h2>Rendez-vous Form</h2>
  <form [formGroup]="rendezvousForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">ID</label>
      <input type="number" id="id" formControlName="id" class="form-control" required>
      <div *ngIf="rendezvousForm.get('id')?.invalid && rendezvousForm.get('id')?.touched" class="text-danger">
        ID is required.
      </div>
    </div>

    <div class="form-group">
      <label for="animalId">Animal ID</label>
      <input type="number" id="animalId" formControlName="animalId" class="form-control" required>
      <div *ngIf="rendezvousForm.get('animalId')?.invalid && rendezvousForm.get('animalId')?.touched"
        class="text-danger">
        Animal ID is required.
      </div>
    </div>


    <div class="form-group">
      <label for="dateRendezVous">Date of Rendez-vous</label>
      <input type="datetime-local" id="dateRendezVous" formControlName="dateRendezVous" class="form-control" required>
      <div *ngIf="rendezvousForm.get('dateRendezVous')?.invalid && rendezvousForm.get('dateRendezVous')?.touched"
        class="text-danger">
        Date is required.
      </div>
    </div>


    <div class="form-group">
      <label for="motif">Motif</label>
      <input type="text" id="motif" formControlName="motif" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="rendezvousForm.invalid">Submit</button>
  </form>
</div>