<div class="container mt-5">
  <h2>Rendez-vous Form</h2>
  <form [formGroup]="rendezvousForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="proprietaire">Proprietaire</label>
      <input type="text" id="proprietaire" formControlName="proprietaire" class="form-control" required>
      <div *ngIf="rendezvousForm.get('proprietaire')?.invalid && rendezvousForm.get('proprietaire')?.touched"
        class="text-danger">
        Proprietaire is required.
      </div>
    </div>

    <div class="form-group">
      <label for="animalId">Animal</label>
      <select id="animalId" formControlName="animalId" class="form-control" required>
        <option *ngFor="let animal of animaux" [value]="animal.id">
          {{ animal.nom }} - {{ animal.race }}
        </option>
      </select>
      <div *ngIf="rendezvousForm.get('animalId')?.invalid && rendezvousForm.get('animalId')?.touched"
        class="text-danger">
        Animal is required.
      </div>
    </div>

    <div class="form-group">
      <label for="dateRendezVous">Date of Rendez-vous</label>
      <input type="datetime-local" id="dateRendezVous" formControlName="dateRendezVous" class="form-control" required>
      <div *ngIf="rendezvousForm.get('dateRendezVous')?.invalid && rendezvousForm.get('dateRendezVous')?.touched"
        class="text-danger">
        Date is required.
      </div>
    </div>

    <div class="form-group">
      <label for="motif">Motif</label>
      <select id="motif" formControlName="motif" class="form-control" required>
        <option *ngFor="let service of services" [value]="service.id">
          {{ service.nomService }}
        </option>
      </select>
      <div *ngIf="rendezvousForm.get('motif')?.invalid && rendezvousForm.get('motif')?.touched" class="text-danger">
        Motif is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="rendezvousForm.invalid">Submit</button>
  </form>
</div>