<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Propriétaire</th>
                        <th scope="col">Animal</th>
                        <th scope="col">Race</th>
                        <th scope="col">Date</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Motif</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rv of rendezVous | paginate: { itemsPerPage: 3, currentPage: page }"
                        (click)="openModal(rv)">
                        <td>{{ proprietaires.get(rv.animalId)?.nom + " " + proprietaires.get(rv.animalId)?.prenom }}
                        </td>
                        <td>{{ animaux.get(rv.animalId)?.nom }}</td>
                        <td>{{ animaux.get(rv.animalId)?.race }}</td>
                        <td>{{ rv.dateRendezVous | date }}</td>
                        <td>{{ rv.statut }}</td>
                        <td>{{ services.get(rv.motif)?.nomService }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editAnimalModal" tabindex="-1" role="dialog" aria-labelledby="editAnimalModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAnimalModalLabel">Modifier Animal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editAnimalForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="animalName">Nom de l'animal</label>
                        <input type="text" id="animalName" formControlName="nom" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="animalRace">Race de l'animal</label>
                        <input type="text" id="animalRace" formControlName="race" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="remarques">Remarques</label>
                        <textarea id="remarques" formControlName="remarques" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Confirmer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>